.cabezal{
	display: inline;
	/*margin-top: -210px;*/
	position: fixed;
	top: 0;
	/*background-color:seagreen;*/
	height: 150px;
	width: 100%;
	z-index: 100;
	background-image: linear-gradient(seagreen,darkgreen);

}
h1{


	color: #fff;
	text-align: center;
	padding-top: 50px;
	text-shadow: black 10px 10px 30px;


}

nav{

	background-color: darkgreen;
	position: fixed;
	top: 150px;
	width: 100%;
	z-index: 150;
	

}


.nav_li, .nav_li_log{
	display: inline-block;
	padding: 6px 20px;
	border: 1px solid white;
	border-radius: 20px;
	margin-right: 20px;



}
.nav_li a, .nav_li_log a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;

}
.nav_li:hover, .nav_li_log:hover {
	background-color: #4FA95E;
	transition: 0.5s;
	box-shadow: 2px 2px 5px #000;

}
.nav_li_log{	
	position:absolute;
	right:20px;
}
aside{
	top: 210px;
	display: inline-block;
	width: 20%;
	height: 100%;
	
	
}
img{
	width: 100%;
	border-radius: 20px;
}
aside article{
	/*border: solid #999 2px;*/
	box-shadow: 2px 2px 10px;
	border-radius: 20px;
	padding: 5px;
	margin-bottom: 5px;

}
section{
	display: inline-block;
	left: 20%;
	top: 0px;
	padding: 0px 20px;
	max-width: 80%;
	position: absolute;
	margin-right: 40px;
	text-align: justify;
}
.contenido{
	margin-top: 210px;
	
	height: auto;
	display: block;
	background-color: darkgreen;
	position: relative;
	padding: 30px 5px;
}


.contacto{
		background-color: darkgreen;
		width: 100%;
		position: static;
		bottom: 0;
		border-top: 2px solid #0B4614;

		
}
	
.contacto-li{
	display: inline-block;
	padding: 10px 10px;
	font-size: 20px;
}